{% extends 'base.html' %}

{% load static %}

{% block title %} Modify Time {% endblock title %} 

{% block head_links %}
    <link rel = "stylesheet" href = "{% static 'css/edit_timings.css' %}" />
{% endblock head_links %}

{% block content %}
    <div class='container'>
        <span>Enter Time Range</span>
        {% if message %}
        <div class='message-window'>
            <a href="{{ link }}">
                <div class='message'>
                    <span>
                        Timing added to Database
                    </span>
                </div>
            </a>
        </div>
        {% endif %}
        {% if type == 'edit' %}
        <div class='input-container'>
            <form action="" method='post' class='timing-form'>
                {% csrf_token %}
                <div class='input-group-container'>
                    <div class='input-group'>
                        <label>Start Time </label>
                        {{ form.start_time }}
                    </div>
                    <div class='input-group'>
                        <label>End Time </label>
                        {{ form.end_time }}
                    </div>
                </div>
                <br>
                <div class = 'btn'>
                    <button type='submit' class='add-button'>Update</button>
                </div>
            </form>
        </div>
        {% elif type == 'add' %}
        <div class='input-container'>
            <form action="" method='post' class='timing-form'>
                {% csrf_token %}
                <div class='input-group-container'>
                    <div class='input-group'>
                        <label>Start Time </label>
                        {{ form.start_time }}
                    </div>
                    <div class='input-group'>
                        <label>End Time </label>
                        {{ form.end_time }}
                    </div>
                </div>
                <br>
                <div class = 'btn'>
                    <button type='submit' value='Add' class='add-button'>Save and add another</button>
                </div>
            </form>
        </div>
        <div class='data-container'>
            <form action="{% url 'delete_timing' %}" method="POST">
                {% csrf_token %}
                <button type = 'submit' class = 'add-button'>bhag db se</button>
                {% for timing in timings %}
                <div class='data-container-card'>
                    <div class='checkbox-container'>
                        <input type="checkbox" name="delete" value = "{{ timing.id }}">
                    </div>
                    <div class='time_range'>
                        {{ timing.start_time | date:"h:i A" }} - {{ timing.end_time | date:"h:i A" }}
                    </div>
                    <div class='options'>
                        <a href = "{% url 'edit_timing' timing.id %}">
                            <img src="{% static '/images/edit.svg' %}">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </form>
        </div>
        {% endif %}
    </div>
{% endblock content %}